/**
 * @brief CSS Principal
 * @file static/csss/dodocine.css
 */

/* DEFINITION DES COULEURS*/
.dodo-background {background-color: #D5ECC2;}
.dodo-taupe {color: #AD6C80;}
.dodo-purple {color: #350B40;}
.dodo-blue {color: #94B5C0;}
.dodo-pink {color: #EE99A0;}


/* Les titres */
html, body {
	height:100%;
}

h1 {
	padding-top: 2rem;
	padding-bottom: 4rem;
	color: #350B40; 
	text-align: center;
}

h2 {
	color: #94B5C0;
	margin-bottom: :20px;
	text-align: center;
}

a {
	color: #AD6C80;
}

/* dodo-card */
.dodo-card {
	margin:5px;
}

.dodo-card-header {
	font-size:1.2em;
	color:#350B40;
	font-weight: bold;
}

#dodo-card-btn {
	color: white;
	background-color: #350B40;
}

.dodo-card-content {
	text-align:center;
	vertical-align: center;
	font-weight: bold;
	font-style:italic;
}

.dodo-card-btn {
    color: blue;
}

.dodo-card-img { /* unused*/
	width:100%;
	height:auto;
}

/* */
.category-name {
	color: #EE99A0;
	font-size: 1.1em;
	font-weight: bold;
}

.header-container {
	background-color: #EE99A0;
	padding: 15px;
	width: 100%;
}

.centered-container {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.full-row {
	width: 100%;
	height: 100%;
	padding: 20px;
}


/* Gestion des images */
.max-size-for-responsive {
	width:80%;
	height:auto;
	margin-right: auto;
	margin-left: auto;
	display:block;
}


.img-align-middle {
    display: block;
    margin: 0 auto;
}

.container-align-middle {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.img-middle-size {
	width:200px;
	height: auto;
}


/* La barre de navigation */
.btn-toolbar-right {
	color:white;
	text-decoration:none;
}


/* Espacement des éléments */
.create-space {
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:15px;
}


.space-before-row {
	margin-top: 15px;
}

/* Alignement */
.table-center-align {
	vertical-align: middle;
	text-align: center;
}

.align-center {
	text-align: center;
}


