/**
 * @brief CSS pour les pages d'inscription et de connexion
 * @file static/css/login.css
 */

.login-body{
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    -webkit-background-size:cover;
    background-attachment: fixed;

}

.center-container {
    margin-top: 8vw;
}

.form-container {
	margin: auto;
	padding: 10px;
}

