/**
 * @brief CSS pour les pages d'inscription et de connexion
 * @file static/css/login.css
 */

.login-body{
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    -webkit-background-size:cover;
    background-attachment: fixed;

}

.center-container {
	margin-top: 8vw;
	display: flex;
   	justify-content: center;
   	align-items: flex-start;
}

.form-container {
	margin: auto;
	width: 40%;
	padding: 10px;
}
